<a href="https://colab.research.google.com/github/Kalairaj1993/Python_Practice/blob/practice/PYTHON_Kalai_PRACTICE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Conditional Statment

In [ ]:
#me
Age = int(input('Enter Age : '))

if Age >= 21:
  print ('ok')

else:
  print ('not ok')

Enter Age : 32
ok

In [ ]:
# 100 - 91 Doctor, 90-81 Engineer, 80-71 Arts, 70-41 Diploma 40-0 Fail

# Raja Yor Mark is 75 And your are Eligible for Diploma

name = input('Enter your Name : ')
mark = int(input('Enter your Mark : '))

if mark >=91:
  print('Doctor')

if mark >=81:
  print('Engineer')

if mark >=71:
  print('Arts')

if mark >=41:
  print('Diploma')

else:
  print('Fail')

Enter your Name : Kalai
Enter your Mark : 32
Fail

In [ ]:
# 100 - 91 Doctor, 90-81 Engineer, 80-71 Arts, 70-41 Diploma 40-0 Fail

# Raja Yor Mark is 75 And your are Eligible for Diploma

name = input('Enter your Name : ')
mark = int(input('Enter your Mark : '))

if mark >=91:
  print(f'Your Name is {name}, Your Mark is {mark}, and you are eligible for Doctor')

if mark >=81:
  print(f'Your Name is {name}, Your Mark is {mark}, and you are eligible for Engineer')

if mark >=71:
  print(f'Your Name is {name}, Your Mark is {mark}, and you are eligible for Arts')

if mark >=41:
  print(f'Your Name is {name}, Your Mark is {mark}, and you are eligible for Diploma')

else:
  print(f'Your Name is {name}, Your Mark is {mark}, and you are eligible for Fail')

Enter your Name : Kalairaj
Enter your Mark : 94
Your Name is Kalairaj, Your Mark is 94, and you are eligible for Doctor
Your Name is Kalairaj, Your Mark is 94, and you are eligible for Engineer
Your Name is Kalairaj, Your Mark is 94, and you are eligible for Arts
Your Name is Kalairaj, Your Mark is 94, and you are eligible for Diploma

In [ ]:
# 100 - 91 Doctor, 90-81 Engineer, 80-71 Ats, 70-41 Diploma 40-0 Fail

# Raja Yor Mark is 75 And your are Eligible for Diploma

Name=input("Enter Your Name:")
Mark=int(input("Enter Your Mark:"))

if Mark>=91 and Mark<=100:
  print(f"{Name} Your Mark is {Mark} And you are Eligible for Doctor")

elif Mark>=81 and Mark<=90:
  print(f"{Name} Your Mark is {Mark} And you are Eligible for Engineer")

elif Mark>=71 and Mark<=80:
  print(f"{Name} Your Mark is {Mark} And you are Eligible for Ats")

elif Mark>=41 and Mark<=70:
  print(f"{Name} Your Mark is {Mark} And you are Eligible for Diploma")

else:
  print(f"{Name} Your Mark is {Mark} And you are Fail")

Enter Your Name:Kalairaj
Enter Your Mark:94
Kalairaj Your Mark is 94 And you are Eligible for Doctor

In [ ]:
# 100 - 91 Doctor, 90-81 Engineer, 80-71 Arts, 70-41 Diploma 40-0 Fail
# Neet > 90 Doctor Eligible

name = input('Enter Your Name : ')
mark = int(input('Enter Your Mark : '))

if mark >=91:
  print(f'Your Name is {name}, your mark is {mark} and you are eligible for Doctor')

if mark >=81:
  print(f'Your Name is {name}, your mark is {mark} and you are eligible for Engineer')

if mark >=71:
  print(f'Your Name is {name}, your mark is {mark} and you are eligible for Arts')

if mark >=41:
  print(f'Your Name is {name}, your mark is {mark} and you are eligible for Diploma')

else:
  print(f'Your Name is {name}, your mark is {mark} and you are Fail')

Enter Your Name : dd
Enter Your Mark : 41
Your Name is dd, your mark is 41 and you are eligible for Diploma

In [ ]:
# 100 - 91 Doctor, 90-81 Engineer, 80-71 Arts, 70-41 Diploma 40-0 Fail
# Neet > 90 Doctor Eligible

name = input('Enter Your Name : ')
mark = int(input('Enter Your Mark : '))

if mark >=91 and mark <=100:
  neet = int(input('Enter Your NEET Score : '))
  if neet >= 90:
    print(f'Your Name is {name}, your mark is {mark} and your NEET Score is {neet} you are eligible for Doctor')
  else:
    print(f'Your Name is {name}, your mark is {mark} and your NEET Score is {neet} you are not eligible for Doctor')

elif mark >=81:
  print(f'Your Name is {name}, your mark is {mark} and you are eligible for Engineer')

elif mark >=71:
  print(f'Your Name is {name}, your mark is {mark} and you are eligible for Arts')

elif mark >=41:
  print(f'Your Name is {name}, your mark is {mark} and you are eligible for Diploma')

else:
  print(f'Your Name is {name}, your mark is {mark} and you are Fail')

Enter Your Name : Kalairaj
Enter Your Mark : 94
Enter Your NEET Score : 90
Your Name is Kalairaj, your mark is 94 and your NEET Score is 90 you are eligible for Doctor

## Function

In [ ]:
import math

In [ ]:
# Odd_Or_Even

import math

l=[1,2,3,4,5]

def i in (l):           # <--
  if i/2==0:            # <--
    print('even')
  else:
    print('odd')

SyntaxError: expected '(' (ipython-input-4038739252.py, line 7)

In [ ]:
# Odd_Or_Even

l=[1,2,3,4,5]

def Odd_Or_Even (l):

  for i in l:
    if i%2==0:
      print(f'{i} is even')
    else:
      print(f'{i} is odd')

Odd_Or_Even(l)

1 is odd
2 is even
3 is odd
4 is even
5 is odd

In [ ]:
l2=[10,12,13,54,65,78,89,100,178]

def Odd_Or_Even(l2):
  for i in l2:
    if i%2==0:
      print(f'{l2} is even')   # <-- i
    else:
      print(f'{l2} is odd')    # <-- i

Odd_Or_Even(l2)

[10, 12, 13, 54, 65, 78, 89, 100, 178] is even
[10, 12, 13, 54, 65, 78, 89, 100, 178] is even
[10, 12, 13, 54, 65, 78, 89, 100, 178] is odd
[10, 12, 13, 54, 65, 78, 89, 100, 178] is even
[10, 12, 13, 54, 65, 78, 89, 100, 178] is odd
[10, 12, 13, 54, 65, 78, 89, 100, 178] is even
[10, 12, 13, 54, 65, 78, 89, 100, 178] is odd
[10, 12, 13, 54, 65, 78, 89, 100, 178] is even
[10, 12, 13, 54, 65, 78, 89, 100, 178] is even

In [ ]:
l2=[10,12,13,54,65,78,89,100,178]

def Odd_Or_Even(l2):
  for i in l2:
    if i%2==0:
      print(f'{i} is even')
    else:
      print(f'{i} is odd')

Odd_Or_Even(l2)

10 is even
12 is even
13 is odd
54 is even
65 is odd
78 is even
89 is odd
100 is even
178 is even

In [ ]:
# Square+5

def square_5(5):       # <-- num
  print (5**2+5)       # <-- num

SyntaxError: invalid syntax (ipython-input-4043895020.py, line 3)

In [ ]:
# Square+5

def square_5 (num):
  print (num**2+5)

square_5 (2)
square_5 (5)

9
30

In [ ]:
# sum+5

def sum_5(num):
  print(num+5)

sum_5 (2)
sum_5 (10)

7
15

In [ ]:
# Square+5 & sum+5

def square_5(num):
  n = num**2+5
  s = n+5
  print(s)

square_5(5)
square_5(2)

35
14

In [1]:
# Print Fruits with 'O'

Fruits=['Apple','Mango','Banana','Orange','Pineapple']

def o (Fruits):            # <--
  for i in Fruits:
    if i == o:             # <--
      print('i')
    else:                  # <--
      print('not found')

In [6]:
# Print Fruits with 'O'

Fruits=['Apple','Mango','Banana','Orange','Pineapple']

def fruits_o (Fruits):
  for i in Fruits:
    if 'o' in i.lower():
      print(i)

fruits_o (Fruits)

Mango
Orange

In [7]:
# Print Fruits with 'A'

Fruits=['Apple','Mango','Banana','Orange','Pineapple']

def fruits_a (Fruits):
  for i in (Fruits):
    if 'a' i.lower():
      print(i)

fruits_a (Fruits)

SyntaxError: invalid syntax (ipython-input-1452495945.py, line 7)

In [8]:
# Print Fruits with 'A'

Fruits=['Apple','Mango','Banana','Orange','Pineapple']

def fruits_a (Fruits):
  for i in (Fruits):
    if 'a' in i.lower():     # <-- in
      print(i)

fruits_a (Fruits)

Apple
Mango
Banana
Orange
Pineapple

In [9]:
def Fruits_With_O(*Fruits):   # *args is a Aribtrary Argument
  for i in Fruits:
    if 'o' in i.lower():
      print(i)

Fruits_With_O('Apple','Mango','Banana','Orange','Pineapple')   # <--

Mango
Orange

In [10]:
def Details(**detail):      #keyword arguments **krgs
  print(detail['name'])
  print(detail['age'])
  print(detail['gender'])
  print(detail['Address'])
  print(detail['Mobile'])

In [11]:
Details(name='Karthick',age=25,gender='Male',Address='Chennai',Pin=600097,Mobile=89764345786)

Karthick
25
Male
Chennai
89764345786

In [12]:
# min & max
nums=[2,4,6,7,8,9,10,100]

print('Min' min(nums))   # <-- put comma ','
print('Max' max(nums))   # <-- put comma ','

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-194293718.py, line 4)

In [13]:
# min & max
nums=[2,4,6,7,8,9,10,100]

print('Min', min(nums))
print('Max', max(nums))

Min 2
Max 100